/**
* CONTENT
*/

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

section {
    padding: var(--default-section-padding) 0;
    text-align: center;
}

h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

h1 span {
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    width: 80%;
    margin-left: 10%;
}

i {
    color: var(--icon-color);
}
