/**
* FOOTER
*/

.site-footer {
    background: var(--footer-background-color);
    color: var(--footer-foreground-color);
}

.site-footer .site-info a {
    color: var(--footer-link-color);
}

@media (min-width: 768px) {

    .site-footer__cols {
        display: flex;
        
    }

    .site-footer__col {
        flex: 1;
    }
}