/**
* HEADER
*/

.site-header {
    background: var(--header-background-color);
    color: var(--header-foreground-color);
}

.site-header a {
    color: var(--header-link-color);
}

.site-header li {
    padding: 0 12px;
}

.post-thumbnail img {
    display: block;
}

@media (min-width: 768px) {

    .site-header .mohole-wrapper--flex {
        align-items: center;
    }

    .topbar {
        width: 100%;
    }

    .site-branding {
        width: 30%
    }

    .main-navigation {
        width: 70%
    }

}