/**
* HOMEPAGE
*/

i.fa-diamond {
    font-size: 96px;
}

.hero {
    background: url("https://library.elementor.com/wp-content/uploads/2016/08/Untitled-1-1.png");
    background-size: cover;
}

.hero__overlay {
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero > * {
    padding: var(--default-padding) 0;
}

.hero__title {
    color: #fff;
    width: 100%;
    text-align: center;
    order: 2;
    padding: 0 var(--default-padding);
}

@media (min-width: 768px) {
    
    .hero__title {
        color: red;
        padding: 0 10%;
    }
    
}

@media (min-width: 1000px) {
    
    .hero__title {
        color: green;
        padding: 0 20%;
    }
    
}

@media (min-width: 1400px) {
    
    .hero__title {
        color: yellow;
        padding: 0 30%;
    }
    
}

.hero__image {
    order: 1;
    margin: 0 auto;
}

.hero__buttons {
    width: 100%;
    order: 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero__button {
    text-decoration: none;
    padding: 15px 37px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    margin: var(--default-margin);
    color: #fff;
    width: 180px;
    text-align: center;
}

@media (min-width: 768px) {
    
    .hero__button {
        width: auto;    
    }
    
}

.hero__button--primary {
    background: #2185f5;
    border: 2px solid var(--palette-color-1);
}

.hero__button--secondary {
    background: transparent;
    border: 2px solid #fff;
}

.technology {
    background: url('https://library.elementor.com/wp-content/uploads/2016/08/smart-watch1-1.png"') no-repeat bottom left;
    background-size: contain;
    padding: var(--default-section-padding) 0;
}

.technology i {
    font-size: 32px;
}

.technology h3 {
    padding: 10px 0 0 0;
    margin: 0;
    width: auto;
    font-size: 16px;
    font-weight: 700;
}

.technology ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 100% 0;
    justify-content: space-between;
}

.technology li {
    list-style-type: none;
    width: 100%;
    padding: 10px 60px;
}

@media (min-width: 800px) {
  .technology ul {
    padding: 0 40px 100% 40px;
  }
  .technology li {
    width: 46%;
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .technology {
    padding: 10% 0;
  }
  .technology h2 {
    padding: 0 0 20px 240px
  }
  .technology ul {
    justify-content: center;
    padding: 0;
    width: 50%;
    margin: 0 auto;
    transform: translateX(240px);
    
  }
  .technology li {
    text-align: left;
    width: 46%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.experts {
    background: var(--colors-palette1);
    color: #fff;
    padding: var(--default-section-padding) 0 calc(var(--default-section-padding) * 2) 0;
}

.experts h2 {
    width: 100%;
    margin-bottom: 60px;
}

.experts__item {
    background: #fff;
    color: #666;
    padding: 40px;
    box-sizing: border-box;
    margin: 20px 40px;
    -webkit-box-shadow: 0px 0px 40px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 40px -5px rgba(0,0,0,1);
box-shadow: 0px 0px 40px -5px rgba(0,0,0,1);
}

.experts__photo {
  max-width: 100%;
}

.experts__item h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  
  .experts__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
    
    .experts__item {
        width: 30%;
        margin: 0;
    }
  
    .experts__photo {
      width: 100%;
    }
    
}

.testimonials {
    background-image: url("https://library.elementor.com/wp-content/uploads/2016/08/cover-pic-1.png");
    background-size: cover;
    padding: 0;
}

.testimonials__overlay {
    background: rgba(0,0,0,0.6);
    padding: var(--default-section-padding) 0;
}

.testimonials h3 {
    color: #fff;
}

.clients__wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.clients ul {
    clear: both;
    padding: 0;
    overflow: hidden;
}

.clients li {
    list-style-type: none;
    margin-bottom: 50px;
}

@media (min-width: 480px) {
    
    .clients li {
        float: left;
        width: 50%;
        list-style-type: none;
        margin-bottom: 50px;
    }

}

@media (min-width: 768px) {
    
    .clients li {
        width: 25%;
    }

}

.our-offer__list {
    padding: 0;
    margin: 0;
  }
  
  .our-offer__list-item {
    margin: 10px 0;
    list-style-type: none;
  }
  
  .our-offer__list-item::before {
    color: #5CF0F7;
    font-family: 'FontAwesome';
    content: "\f00c";
    padding-right: 10px;
  }
