/**
* LAYOUT
*/

.main-navigation {
    float: none;
}

.main-navigation ul {
    overflow: hidden;
}

/**
* Wrappers
*/

.mohole-wrapper, .mohole-wrapper--flex {
    padding: 0 var(--layout-breath);
}

.mohole-wrapper--flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/**
* Templates
*/

/* template: esperti */

body.single-esperti .content-area {
    order: 2;
}

body.single-esperti .widget-area {
    order: 1;
}

@media (min-width: 768px) {

    .mohole-wrapper {
        max-width: 960px;
        margin: 0 auto;
    }

    .content-area {
        width: 60%;
    }

    .widget-area {
        width: 36%;
    }

    /* template: mohole-wrapped.php */

    body.page-template-mohole-wrapped .content-area {
        width: 100%;
    }

    /* template: mohole-wrapped-sidebar-content.php */

    body.page-template-mohole-wrapped-sidebar-content .content-area {
        order: 2;
        width: 70%;
    }

    body.page-template-mohole-wrapped-sidebar-content .widget-area {
        order: 1;
        width: 26%;
    }

    /* template: mohole-wrapped-content-sidebar.php */

    body.page-template-mohole-wrapped-content-sidebar .content-area {
        width: 70%;
    }

    body.page-template-mohole-wrapped-content-sidebar .widget-area {
        width: 26%;
    }

}

@media (min-width: 1000px) {
    .mohole-wrapper {
        padding: 0;
    }
}