/**
* VARIABLES
*/

:root {

    /* PALETTE */
    --colors-palette1: #2185f5;
    --colors-palette2: rgb(255, 255, 255);
    --colors-palette3: rgb(238, 214, 37);

    /* LAYOUT */
    --layout-breath: 20px;
    --default-padding: var(--layout-breath);
    --default-margin: var(--layout-breath);
    --default-section-padding: 60px;

    /* ICONS */
    --icon-color: var(--colors-palette1);

    /* HEADER */
    --header-background-color: var(--colors-palette1);
    --header-foreground-color: var(--colors-palette2);
    --header-link-color: var(--colors-palette3);

    /* FOOTER */
    --footer-background-color: var(--colors-palette1);
    --footer-foreground-color: var(--colors-palette2);
    --footer-link-color: var(--colors-palette3);
      
}